<section class="container-user">
<h1 class="title-dash">My profile</h1>

<form action="/profile/edit/{{this._id}}" method="post">

      <div class="container_item"><label for="name" class="label">Name</label>
        <input type="text" name="name" id="name" class="input_sign" value={{this.name}}></div>

      <div class="container_item"><label for="lastName" class="label">Lastname</label>
        <input type="text" name="lastName" id="lastName" class="input_sign" value="{{this.lastname}}"></div>

      <div class="container_item"><label for="email" class="label">Email</label>
        <input type="email" name="email" id="email" class="input_sign" required value="{{this.email}}"></div>


      <div class="container_item"><label for="bday" class="label">Birthday</label>
        <input type="date" name="bday" class="input_sign" id="birthday" value="{{this.birthday}}"></div>

      <div class="container_item">
        <input class="btn"  type="submit" value="Edit" id="input_signin"></div>
    </form>



</section>